<div class="user-details">
    <div class="d-flex mt-2">
        <div class="card  ">
            <div class="">
                <div class="  d-flex">
                    <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
                    <div class="img-list">
                    <img src="../../../assets/profile.avif"
                        alt="Photo of sunset" >
                    </div>
                    <div class="d-flex">
                    <div>
                        <h2 style="color:white">Name</h2>
                    </div>
                </div>
                </div>
            </div>


        </div>

    </div>

</div>