<div class="footer">
    <div  class="container">
      <div class="grid">
        <div class="categories">
            <h2>Categories</h2>
            <ul>
                <li>List</li>
                <li>maker</li>
                <li>cooker</li>
                <li>nicer</li>
            </ul>

        </div>
        <div class="company">
            <h2>Company</h2>
            <ul>
                <li>about</li>
                <li>about logo</li>
                <li>careers</li>
                <li>pricing and listing</li>
            </ul>

        </div>
        <div class="policy">
            <h2>Policy</h2>
            <ul>
                <li>privacy & policy</li>
                <li>recorder</li>
            </ul>

        </div>

      </div>
    </div>

</div>
