<div class="body">
<div  class="container" id="container" ngClass="{{isRegisterActive ? 'active' : 'hidden'}}">
    <div class="form-container sign-up"  *ngIf="!isRegisterActive">
        <form>
            <h1>Create Account</h1>
            <div class="social-icons">
                <a href="#" class="icon"><fa-icon [icon]="['fas', 'user']"></fa-icon></a>
                <a href="#" class="icon"><span class="fa fa-facebook"></span></a>
                <a href="#" class="icon"><span class="fa-brands fa-github"></span></a>
                <a href="#" class="icon"><span class="fa-brands fa-linkedin-in"></span></a>
            </div>
            <span>or use your email for registeration</span>
            <input type="text" placeholder="Name" name="username" required ng-model="username"/>
            <input type="email" placeholder="Email"  name="email" required ng-model="email"/>
            <input type="password" placeholder="Password"  name="password" id="pwd" required ng-model="password"/>
            <input type="password" placeholder="Confirm Password"  id="pwd" required ng-model="confirmpassword"/>
            <div>
            <button>Sign Up</button>
            <asl-google-signin-button type='standard' size='medium'>
            </asl-google-signin-button>
        </div>
        </form>
    </div>
    <div class="form-container sign-in" *ngIf="isRegisterActive">
        <form method="post">
            <h1>Sign In</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>or use your email password</span>
            <input type="email" placeholder="Email" ng-model="email">
            <input type="password" placeholder="Password" ng-model="password">
            <a href="#">Forget Your Password?</a>
            <div>
            <button>Sign In</button>
            <asl-google-signin-button type='standard' size='medium'>
            </asl-google-signin-button>
        </div>
        </form>
    </div>
    <div class="toggle-container">

        <div class="toggle">
            <div class="toggle-panel toggle-left" *ngIf="!isRegisterActive">
                <h1>Welcome Back !</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login" (click)="activeSignIn()">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right" *ngIf="isRegisterActive">
                <h1>Welcome, Friend!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="register" (click)="activeSignUp()">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</div>

